@font-face {
    font-family: 'DK Pisang';
    src: url(../fonts/DK%20Pisang.otf);
}

@font-face {
font-family: 'DK Pisang 2';
src: url(../fonts/DK%20Pisang%202.otf);
}


body {
    padding-top: 70px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

nav {
    color: #ffffff;
}

h1 {
    text-transform: uppercase;
}

section {
    height: 550px;
    font-family: 'DK Pisang 2', serif;
}

section h1, section h2 {
    text-align: center;
}

section h1 {
    font-weight: bold;
    margin-top: -22px;
}

section h2 {
    margin-top: 0;
    padding-top: 200px;
    text-transform: uppercase;
}

section.snz-landing {
    background-color: #00b3ee;
}

section.snz-landing h1 {
    margin-top: 0;
    padding-top: 200px;
}

section.snz-day {
    background-color: #c3325f;
}

section.snz-afternoon {
    background-color: #449d44;
}

section.snz-night {
    background-color: #e38d13;
}

section.snz-contact {
    background-color: #ffff00;
}