@font-face {
    font-family: 'DK Pisang';
    src: url(../fonts/DK%20Pisang.otf);
}

@font-face {
    font-family: 'DK Pisang 2';
    src: url(../fonts/DK%20Pisang%202.otf);
}

body {
    padding-top: 70px;
    font: 14px sans-serif;
}

.container-fluid > .row > div {
    padding: 0;
}

a {
    color: #00B7FF;
}

nav {
    color: #ffffff;
}

nav ul {
    text-transform: uppercase;
    font-family: 'DK Pisang', serif;
    font-size: x-large;
    font-weight: bold;
}

nav ul li {
    float: left;
    margin-top: 40px;
}

h1 {
    text-transform: uppercase;
    font-family: 'DK Pisang', serif;
}

.snz-logo {
    width: 120px;
    margin-top: 10px;
}

.snz-logo-animal {
    width: 30px;
    margin-top: 30px;
    margin-left: 10px;
}

section:not(.snz-contact):not(.snz-divider) {
    min-height: 450px;
}

section h1, section h2 {
    text-align: center;
    font-family: 'DK Pisang', serif;
}

section h1 {
    font-weight: bold;
    margin-top: -20px;
    font-size: 70px;
}

section h2 {
    margin-top: 0;
    padding-top: 110px;
    text-transform: uppercase;
    font-size: 100px;
}

.snz-section-subtitle {
    font-weight: bold;
    font-size: larger;
}

section.snz-landing {
    height: auto;
}

section.snz-landing h1 {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100%;

    margin-top: 150px;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 60px;
}

section.snz-landing img {
    width: 100%;
    height: 450px;
}

section.snz-day {
    background-color: #4FE751;
}

section.snz-afternoon {
    background-color: #FF9731;
}

section.snz-night {
    background-color: #1D92DA;
}

section.snz-divider {
    background-color: black;
    padding: 35px 0;
    text-align: center;
}

section.snz-contact {
    background-color: #EEFF54;
    padding: 20px 0 54px 0;
    text-align: center;
}

section.snz-contact p {
    font-weight: bold;
}

section.snz-contact .snz-iframe-wrapper {
    text-align: center;
    width: 100%;
}

section.snz-footer {
    background-color: #000000;
    height: auto;
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
    padding: 15px 0 5px 0;
}

section.snz-footer > .snz-by {
    font-size: smaller;
}

.snz-brand {
    text-transform: uppercase;
}

.snz-section-content {
    margin-top: 210px;
}

.snz-section-content p {
    font-weight: bold;
}

.snz-section-content .btn {
    margin-top: 15px;
    font-weight: bold;

    text-transform: uppercase;
    font-size: large;
}

/****************************************/
/* Bootstrap overrides                  */
/****************************************/

.btn.btn-primary {
    background-image: none;
    background-color: black;
    border-radius: 0;
    padding-left: 25px;
    padding-right: 25px;
}